.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Poppins-SemiBold";
  color: #B8393B;
}


.checkout-items .item{
  border-radius: 5px;
  border: 1px solid #EAEAEA;
  padding: 8px;
  margin-top: 10px;
}

.checkout-items .item img{
  width: 75px;
  border-radius: 5px;
  vertical-align: sub;
}

.checkout-items .product{
  display: inline-block;
  margin-left: 10px;
}

.checkout-items .product .product-title{
  font-family: "Poppins-SemiBold";
  font-size: 14px;
  width:145px;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-top: 0;
  color: #B8393B;
}

.checkout-items .product span{
  font-family: "Poppins-SemiBold";
}

.total-section{
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.total-section .section-item{
  display: flex;
  justify-content: space-between;
}

.total-section .section-item p:first-of-type{
  color: #9098B1;
  font-family: "Poppins-Medium";
}

.total-section .section-item p:last-of-type{
  color: #B8393B;
  font-family: "Poppins-Medium";
}

.total-section .section-item.total{
  border-top: 1px dashed #9098B1;
}

form{
  margin: 0;
} 

.form-actions{
  margin-top: 20px;
}