<div class="g-layout">
    <back-nav><steps></steps></back-nav>
    <div class="vg-kg">
        <img src="../../../../assets/images/user.svg" alt="">
    </div>
    <div class="rules">
        <div class="item"><span>1</span>Remove your eye glasses (if any)</div>
        <div class="item"><span>2</span>Place your face in the photo frame.</div>
        <div class="item"><span>3</span>Make sure there is enough light around</div>
        <div class="item"><span>4</span>Do not shake your face when capturing photo</div>
        <div class="item"><span>5</span>Blink your eyes several times to capture photo</div>
    </div>
  
    <form action="">
        <div class="form-actions">
            <a routerLink="/onboarding/terms" class="btn btn-primary">Next</a>
          </div>
    </form>
  </div>
  