<back-nav><div class="title">Payment/Shipping</div></back-nav>
<div class="payment-card">
    <img src="../../../../../assets/images/Info.png" alt="credit-card">
</div>
<div class="credit-card">
    <h2>Credit Card Details</h2>
    <form [formGroup]="shippingForm" (submit)="pay()">
        <div class="form-actions">
            <label for="cardName">Name on card</label>
            <input type="text" placeholder="Benjamin Busari" formControlName="nameOnCard">
            
            <label for="cardNumber">Card Number</label>
            <input type="text" placeholder="0000 0000 0000 0000" formControlName="cardNumber">
            
            <label for="cardExp">Card Expiration</label>
            <div class="input-row">
                <select name="" i formControlName="cardMonth">
                    <option value="">January</option>
                    <option value="">February</option>
                    <option value="">March</option>
                    <option value="">April</option>
                    <option value="">May</option>
                    <option value="">June</option>
                    <option value="">July</option>
                    <option value="">August</option>
                    <option value="">September</option>
                    <option value="">October</option>
                    <option value="">November</option>
                    <option value="">December</option>
                </select>
                <select name="" formControlName="cardYear">
                    <option value="">2020</option>
                    <option value="">2021</option>
                    <option value="">2022</option>
                    <option value="">2023</option>
                    <option value="">2024</option>
                    <option value="">2025</option>
                    <option value="">2026</option>
                    <option value="">2027</option>
                </select>
            </div>

            <label for="cardName">Card Security Code</label>
            <input type="text" placeholder="011" formControlName="cvv">
        </div>

        <h2>Shipping Details</h2>
        <div class="form-actions">
            <label for="cardName">Country</label>
            <select name="" formControlName="country">
                <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
            </select>
            
            <label for="Address">Address</label>
            <input type="text" placeholder="Somewhere around the world" formControlName="address">
            
            <label for="Phone">Phone</label>
            <input type="text" placeholder="Phone" formControlName="phone">

            <label for="city">City</label>
            <input type="text" placeholder="City" formControlName="city">
            
            <label for="state">State</label>
            <input type="text" placeholder="State" formControlName="state">
            
            <label for="zipCode">Zip Code</label>
            <input type="text" placeholder="Zip Code" formControlName="zipCode">

            <button class="btn btn-primary" type="submit">Pay Now</button>
        </div>
    </form>
</div>
<loading-dialog *ngIf="isLoading"></loading-dialog>
<transparent-dialog *ngIf="showSuccessDialog" size="lg"> 
    <div class="pay-success">
        <span *ngIf="succeeded">
            <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" viewBox="0 0 90 90" fill="none">
                <g clip-path="url(#clip0_1_2449)">
                <path d="M45 0C20.1855 0 0 20.1855 0 45C0 69.8145 20.1855 90 45 90C69.8145 90 90 69.811 90 45C90 20.189 69.8145 0 45 0ZM45 83.0287C24.0337 83.0287 6.97131 65.9698 6.97131 45C6.97131 24.0302 24.0337 6.97131 45 6.97131C65.9698 6.97131 83.0287 24.0302 83.0287 45C83.0287 65.9698 65.9663 83.0287 45 83.0287Z" fill="#007438"/>
                <path d="M65.6455 29.3493C64.2267 28.0596 62.0203 28.1606 60.7238 29.5862L39.4611 52.9996L29.1888 42.5566C27.8328 41.1832 25.6299 41.1623 24.26 42.5147C22.8867 43.8637 22.8657 46.0701 24.2182 47.4435L37.0768 60.5147C37.7356 61.1839 38.6279 61.557 39.562 61.557C39.5829 61.557 39.6073 61.5569 39.6282 61.5605C40.5903 61.5395 41.4966 61.1282 42.1414 60.4172L65.8822 34.2746C67.1756 32.8454 67.071 30.6425 65.6455 29.3493Z" fill="#007438"/>
                </g>
                <defs>
                <clipPath id="clip0_1_2449">
                <rect width="90" height="90" fill="white"/>
                </clipPath>
                </defs>
            </svg>
        </span>
        <span *ngIf="!succeeded">
            <svg xmlns="http://www.w3.org/2000/svg" width="132" height="132" viewBox="0 0 132 132" fill="none">
                <g filter="url(#filter0_d_92_183)">
                <rect x="30" y="20" width="72" height="72" rx="36" fill="#B8393B"/>
                </g>
                <path d="M58 64L74 48" stroke="white" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M58 48L74 64" stroke="white" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                <defs>
                <filter id="filter0_d_92_183" x="0" y="0" width="132" height="132" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="10"/>
                <feGaussianBlur stdDeviation="15"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0.25098 0 0 0 0 0.74902 0 0 0 0 1 0 0 0 0.24 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_92_183"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_92_183" result="shape"/>
                </filter>
                </defs>
                </svg>
        </span>
        <form action="">
            <div class="form-actions">
                <p [ngClass]="{'danger': !succeeded, 'success': succeeded }">{{respMsg}}</p>
                <a *ngIf="succeeded" class="btn btn-primary" [routerLink]="rl">Continue</a>
                <a *ngIf="!succeeded" class="btn btn-primary" (click)="closeDialog()">Return</a>
            </div>
        </form>
    </div>
</transparent-dialog>