<back-nav><div class="title">Send Money</div></back-nav>
<div class="receiver">
    <img src="../../../../../assets/images/usr.png" alt="">
    <div>
        <p>Benjamin Busari</p>
        <span>0919256789</span>
    </div>
</div>
<div class="sum-view">
    <div class="sum">
        <span>Amount</span>
        <p>₦10,000</p>
    </div>
    <div class="sum">
        <span>Charge</span>
        <p class="danger">₦10.00</p>
    </div>
    <div class="sum">
        <span>Total</span>
        <p>₦10,000</p>
    </div>
</div>
<form action="">
    
    <label for="Password">Password</label>
    <input type="text" placeholder="***************">
        
    <div class="form-actions">
        <button class="btn btn-primary" (click)="next()">Next</button>
    </div>
</form>