h1{
  font-size: 20px;
  font-family: "Poppins-Medium";
  margin-bottom: 5px;
}

.intr{
  color: #6E6E6E;
  font-size: 12px;
  margin-top: 5px;
}

.pl-x{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #B8393B;
  margin-top: 20px;
}


