.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Poppins-SemiBold";
  color: #B8393B;
}

.atm-act{
  background-color: #B8393B;
  padding: 10px;
  margin-top: 30px;
  border-radius: 8px;
}

.atm-act .cr-initi{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}

.atm-act .cr-initi span{
  color: #fff;
}

.atm-act .cr-initi .bn img{
  width: 50px;
}

.cn-cont{
  display: flex;
  justify-content: center;
}

.atm-act .cn{
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
}

.valid{
  font-size: 9px;
  color: #fff;
  margin-right: 5px;
}

.valid-date{
  font-size: 10px;
  color: #fff;
}

.ownership{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.ownership .cred{
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.ownership img{
  width: 70px;
}

.pr-catalog{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.pr-catalog .product{
  width: 48%;
  margin-bottom: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.pr-catalog .product .pr-img img{
  width: 100%;
}

.pr-catalog .product .pr-details{
  padding: 0 5px 5px 5px;
}

.pr-catalog .product .pr-details a{
  font-family: "Poppins-SemiBold";
  color: #B8393B;
  font-size: 14px;
}

.pr-catalog .product .pr-details .pricing{
  display: flex;
  justify-content: space-between;
}

.pr-catalog .product .pr-details .pricing .price{
  font-family: "Poppins-SemiBold";
}

.pr-catalog .product .pr-details .pricing .discount{
  color: #E01315;
}